<!DOCTYPE html>
<html lang="en">
<head>
    {{#if baseUrl}}
    <base href="{{baseUrl}}"/>
    {{/if}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#5a5b6c">
    <meta name="description" content="Neuron - A faster VPN connection">
    <title>{{projectName}}</title>
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="{{pathPrefix}}styles/index.css">
    <link rel="stylesheet" href="{{pathPrefix}}styles/typography.css">
    <link rel="stylesheet" href="{{pathPrefix}}styles/form.css">
    <link rel="stylesheet" href="{{pathPrefix}}styles/auth.css">
    <script>
        async function registerSW () {
            console.log('1')
            if ('serviceWorker' in navigator) {
                console.log('2')
                try {
                    console.log('3')
                    navigator.serviceWorker.register('service-worker.js', { scope: '/' }).then(function (reg) {
                        console.log('4')
                        console.log(reg.scope)
                        reg.update();
                    });
                } catch (e) {
                    console.log('ServiceWorker registration failed. Sorry about that.');
                }
            }
        }

        registerSW ();
    </script>
</head>
<body>

{{{body}}}

</body>
</html>
