{{#extend "layout-partial-hook"}}
    <link rel="manifest" href="manifest?id={{session.identity.traits.system.tenants}}">
    <link rel="stylesheet" href="styles/dashboard.css">
    <script defer src="code/geolocation-service.js"></script>
    <script defer src="code/pwa-download-button.js"></script>
{{/extend}}

<div class="content">
    {{> header}}
    <div class="page-container">
        <div id="welcome" class="card padding-bottom padding-sides margin-bottom margin-sides">
            <img id="logo" class="brandlogo thin-margin" src="{{logo}}" class="margin"></img>
{{#if tenant.traits.branding}}
            <h5 class="no-margin text-center">Powered by Cerebral Neuron</h5>
{{/if}}
            <h4 class="greeting">Welcome {{session.identity.traits.email}}!</h4>
            <h5 class="no-margin text-center">Please allow browser geolocation for better performance.</h5>
            <h5 class="no-margin text-center">Make sure you updated your Proxy settings. <a href="/instructions">See Instructions</a></h5>            
            <!--a href="rdp:///full%20address=s:vdi.pi.cerebralsystems.io:3389&audiomode=i:2&disable%20themes=i:1">Launch RDP</a-->
            <!--button id="download-button" onclick="PWA()">Download this page as PWA<br>(this button should not be rendered in PWA)</button-->
        </div>
        <div class="card padding margin text-center">
            <div class="padding margin flex-wrap justify">
                <div id="app-container" onclick="copy('vdi-span', 'vdi-copied')" class="card padding flex-col justify-space-between align-items">
                    <i class="icon fa fa-desktop" style="font-size: 72px; color: var(--primary-main)"></i>
                    <p class="no-margin"><span id="vdi-span">vdi.pi.cerebralsystems.io</span></p>
                </div>

{{#each services}}
                <div id="app-container" class="card padding flex-col justify-space-between align-items">
                    <a href="{{this.url}}" target="_blank">
                        <i class="icon fab fa-{{this.name}}"></i>
                    </a>
                    <p class="no-margin">{{this.name}}</p>
                </div>
{{/each}}                
            </div>
        </div>
    </div>
</div>
